<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChkIsVendorPresent</servlet-name>
        <servlet-class>Servlets.ChkIsVendorPresent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewVendor</servlet-name>
        <servlet-class>Servlets.AddNewVendor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>Servlets.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadList</servlet-name>
        <servlet-class>Servlets.UploadList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadListSuccess</servlet-name>
        <servlet-class>Servlets.UploadListSuccess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChkIsVendorPresent</servlet-name>
        <url-pattern>/ChkIsVendorPresent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewVendor</servlet-name>
        <url-pattern>/AddNewVendor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadList</servlet-name>
        <url-pattern>/admin/UploadList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadListSuccess</servlet-name>
        <url-pattern>/admin/UploadListSuccess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>setCharacterFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>setCharacterFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
